# Credit Risk

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

# Set pandas display options to show numbers in normal format

In [2]:
df = pd.read_csv('accepted.csv')
df.head()
df.info()
df.describe()

C:\Users\lucas\AppData\Local\Temp\ipykernel_66312\2049279652.py:1: DtypeWarning: Columns (0,19,49,59,118,129,130,131,134,135,136,139,145,146,147) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('accepted.csv')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2260701 entries, 0 to 2260700
Columns: 151 entries, id to settlement_term
dtypes: float64(113), object(38)
memory usage: 2.5+ GB

,member_id,loan_amnt,funded_amnt,funded_amnt_inv,int_rate,installment,annual_inc,dti,delinq_2yrs,fico_range_low,...,deferral_term,hardship_amount,hardship_length,hardship_dpd,orig_projected_additional_accrued_interest,hardship_payoff_balance_amount,hardship_last_payment_amount,settlement_amount,settlement_percentage,settlement_term
count,0.0,2.260668e+06,2.260668e+06,2.260668e+06,2.260668e+06,2.260668e+06,2.260664e+06,2.258957e+06,2.260639e+06,2.260668e+06,...,10917.0,10917.000000,10917.0,10917.000000,8651.000000,10917.000000,10917.000000,34246.000000,34246.000000,34246.000000
mean,NaN,1.504693e+04,1.504166e+04,1.502344e+04,1.309283e+01,4.458068e+02,7.799243e+04,1.882420e+01,3.068792e-01,6.985882e+02,...,3.0,155.045981,3.0,13.743886,454.798089,11636.883942,193.994321,5010.664267,47.780365,13.191322
std,NaN,9.190245e+03,9.188413e+03,9.192332e+03,4.832138e+00,2.671735e+02,1.126962e+05,1.418333e+01,8.672303e-01,3.301038e+01,...,0.0,129.040594,0.0,9.671178,375.385500,7625.988281,198.629496,3693.122590,7.311822,8.159980
min,NaN,5.000000e+02,5.000000e+02,0.000000e+00,5.310000e+00,4.930000e+00,0.000000e+00,-1.000000e+00,0.000000e+00,6.100000e+02,...,3.0,0.640000,3.0,0.000000,1.920000,55.730000,0.010000,44.210000,0.200000,0.000000
25%,NaN,8.000000e+03,8.000000e+03,8.000000e+03,9.490000e+00,2.516500e+02,4.600000e+04,1.189000e+01,0.000000e+00,6.750000e+02,...,3.0,59.440000,3.0,5.000000,175.230000,5627.000000,44.440000,2208.000000,45.000000,6.000000
50%,NaN,1.290000e+04,1.287500e+04,1.280000e+04,1.262000e+01,3.779900e+02,6.500000e+04,1.784000e+01,0.000000e+00,6.900000e+02,...,3.0,119.140000,3.0,15.000000,352.770000,10028.390000,133.160000,4146.110000,45.000000,14.000000
75%,NaN,2.000000e+04,2.000000e+04,2.000000e+04,1.599000e+01,5.933200e+02,9.300000e+04,2.449000e+01,0.000000e+00,7.150000e+02,...,3.0,213.260000,3.0,22.000000,620.175000,16151.890000,284.190000,6850.172500,50.000000,18.000000
max,NaN,4.000000e+04,4.000000e+04,4.000000e+04,3.099000e+01,1.719830e+03,1.100000e+08,9.990000e+02,5.800000e+01,8.450000e+02,...,3.0,943.940000,3.0,37.000000,2680.890000,40306.410000,1407.860000,33601.000000,521.350000,181.000000

In [3]:
#Filter out all loans that are not fully paid or charged off
df = df[df['loan_status'].isin(['Fully Paid', 'Charged Off'])]
#Changing the loan_status to binary_encoding
df['loan_status'] = df['loan_status'].map({'Fully Paid': 0, 'Charged Off': 1})

In [4]:
print("Application Type:")
print(df['application_type'].value_counts())
print("\nPurpose:")
print(df['purpose'].value_counts())
print("\nGrade:")
print(df['grade'].value_counts())
print("\nSub Grade:")
print(df['sub_grade'].value_counts())
print("\nFICO Range High:")
print(df['fico_range_high'].value_counts())
print("\nFICO Range Low:")
print(df['fico_range_low'].value_counts())

Application Type:
application_type
Individual    1319510
Joint App       25800
Name: count, dtype: int64

Purpose:
purpose
debt_consolidation    780321
credit_card           295279
home_improvement       87504
other                  77875
major_purchase         29425
medical                15554
small_business         15416
car                    14585
moving                  9480
vacation                9065
house                   7253
wedding                 2294
renewable_energy         933
educational              326
Name: count, dtype: int64

Grade:
grade
B    392741
C    381686
A    235090
D    200953
E     93650
F     32058
G      9132
Name: count, dtype: int64

Sub Grade:
sub_grade
C1    85494
B4    83199
B5    82538
B3    81827
C2    79213
C3    74998
C4    74421
B2    74024
B1    71153
C5    67560
A5    64003
A4    52235
D1    51321
D2    44848
A1    43678
D3    39317
A3    37996
A2    37178
D4    35566
D5    29901
E1    23749
E2    21377
E3    18387
E4    15720
E5    14417
F1     9970
F2     7198
F3     6088
F4     4859
F5     3943
G1     2997
G2     2131
G3     1614
G4     1280
G5     1110
Name: count, dtype: int64

FICO Range High:
fico_range_high
664.0    120862
674.0    117202
669.0    116821
679.0    104593
684.0    103340
689.0     90665
694.0     88221
699.0     79100
704.0     72760
709.0     65401
714.0     57361
719.0     50681
724.0     43606
729.0     35034
734.0     30304
739.0     24061
744.0     21415
749.0     17280
754.0     15916
759.0     13698
764.0     11257
769.0     10372
774.0      8861
779.0      8180
784.0      7307
789.0      5776
794.0      5430
799.0      4358
804.0      3865
809.0      3318
814.0      2378
819.0      1879
824.0      1394
829.0      1070
834.0       701
839.0       401
844.0       254
850.0       186
634.0         1
629.0         1
Name: count, dtype: int64

FICO Range Low:
fico_range_low
660.0    120862
670.0    117202
665.0    116821
675.0    104593
680.0    103340
685.0     90665
690.0     88221
695.0     79100
700.0     72760
705.0     65401
710.0     57361
715.0     50681
720.0     43606
725.0     35034
730.0     30304
735.0     24061
740.0     21415
745.0     17280
750.0     15916
755.0     13698
760.0     11257
765.0     10372
770.0      8861
775.0      8180
780.0      7307
785.0      5776
790.0      5430
795.0      4358
800.0      3865
805.0      3318
810.0      2378
815.0      1879
820.0      1394
825.0      1070
830.0       701
835.0       401
840.0       254
845.0       186
630.0         1
625.0         1
Name: count, dtype: int64

In [5]:
#Filter for only individual loans
df = df[df['application_type'] == 'Individual']
df['fico_score'] = (df['fico_range_low'] + df['fico_range_high']) / 2

# Verify the calculation worked
print(f"Rows after filter: {len(df):,}")
print(f"FICO score created. Sample:")
print(df[['fico_range_low', 'fico_range_high', 'fico_score']].head())

Rows after filter: 1,319,510
FICO score created. Sample:
   fico_range_low  fico_range_high  fico_score
0           675.0            679.0       677.0
1           715.0            719.0       717.0
4           695.0            699.0       697.0
5           690.0            694.0       692.0
6           680.0            684.0       682.0

In [6]:
df['fico_score'].describe()

count    1.319510e+06
mean     6.980267e+02
std      3.170712e+01
min      6.270000e+02
25%      6.720000e+02
50%      6.920000e+02
75%      7.120000e+02
max      8.475000e+02
Name: fico_score, dtype: float64

In [7]:
safe_features = [
    # Loan characteristics
    'loan_amnt',
    'term',  
    'purpose',
    'installment',
    'disbursement_method',
    
    # Borrower characteristics
    'annual_inc',
    'dti',
    'emp_length',
    'home_ownership',
    'addr_state',
    
    # Credit history
    'fico_score',
    'delinq_2yrs',
    'revol_util',
    'revol_bal',
    'inq_last_6mths',
    'pub_rec',
    'mths_since_last_delinq',
]

In [8]:
X = df[safe_features]
y = df['loan_status']
print(f"X shape: {X.shape}, y shape: {y.shape}")

X shape: (1319510, 17), y shape: (1319510,)

In [ ]:
#Check for missing values
print(f"Missing values: {X.isnull().sum()}")

Missing values: loan_amnt                      0
term                           0
purpose                        0
installment                    0
disbursement_method            0
annual_inc                     0
dti                            0
emp_length                 74764
home_ownership                 0
addr_state                     0
fico_score                     0
delinq_2yrs                    0
revol_util                   812
revol_bal                      0
inq_last_6mths                 1
pub_rec                        0
mths_since_last_delinq    665316
dtype: int64

In [10]:
#print value counts for each column
for col in X.columns:
    print(f"{col}:")
    print(X[col].value_counts())
    print("\n")

loan_amnt:
loan_amnt
10000.0    98167
12000.0    71812
15000.0    68664
20000.0    68497
35000.0    49432
           ...
38825.0        1
38350.0        1
35425.0        1
36725.0        1
38175.0        1
Name: count, Length: 1549, dtype: int64


term:
term
36 months    1004477
60 months     315033
Name: count, dtype: int64


purpose:
purpose
debt_consolidation    764351
credit_card           290840
home_improvement       85456
other                  76429
major_purchase         28931
small_business         15180
medical                15097
car                    14380
moving                  9289
vacation                8934
house                   7085
wedding                 2294
renewable_energy         918
educational              326
Name: count, dtype: int64


installment:
installment
327.34     3059
301.15     2660
332.10     2636
318.79     2289
312.86     2063
           ...
502.75        1
841.37        1
961.29        1
1080.68       1
555.65        1
Name: count, Length: 82485, dtype: int64


disbursement_method:
disbursement_method
Cash         1312815
DirectPay       6695
Name: count, dtype: int64


annual_inc:
annual_inc
60000.00     51063
50000.00     44811
65000.00     38036
70000.00     36350
40000.00     34687
             ...
41297.13         1
39723.28         1
21927.00         1
98345.00         1
100314.00        1
Name: count, Length: 63321, dtype: int64


dti:
dti
18.00    987
19.20    985
14.40    959
16.80    939
15.60    906
        ...
48.08      1
46.99      1
47.84      1
42.45      1
41.66      1
Name: count, Length: 4815, dtype: int64


emp_length:
emp_length
10+ years    435633
2 years      119867
3 years      106015
< 1 year     102544
1 year        87271
5 years       82927
4 years       79311
6 years       61920
8 years       60004
7 years       58919
9 years       50335
Name: count, dtype: int64


home_ownership:
home_ownership
MORTGAGE    648107
RENT        528509
OWN         142418
ANY            286
OTHER          144
NONE            46
Name: count, dtype: int64


addr_state:
addr_state
CA    193289
NY    108484
TX    107839
FL     93864
IL     50893
NJ     47829
PA     44633
OH     42932
GA     42704
VA     37405
NC     37077
MI     34617
AZ     31817
MD     30777
MA     30470
CO     28950
WA     28494
MN     23484
IN     21135
MO     20677
TN     19885
NV     19755
CT     19458
WI     17217
AL     16322
OR     16019
SC     15707
LA     15209
KY     12534
OK     11935
KS     10949
AR      9777
UT      9716
NM      7196
HI      6646
MS      6430
NH      6312
RI      5784
WV      4832
DE      3710
MT      3704
DC      3452
NE      3372
AK      3134
WY      2836
SD      2689
VT      2597
ME      1931
ND      1516
ID      1509
IA         7
Name: count, dtype: int64


fico_score:
fico_score
662.0    118911
672.0    115306
667.0    115023
677.0    102981
682.0    101498
687.0     89187
692.0     86721
697.0     77697
702.0     71321
707.0     64166
712.0     56243
717.0     49635
722.0     42649
727.0     34302
732.0     29609
737.0     23483
742.0     20855
747.0     16849
752.0     15481
757.0     13313
762.0     10952
767.0     10075
772.0      8594
777.0      7898
782.0      7070
787.0      5585
792.0      5227
797.0      4206
802.0      3712
807.0      3161
812.0      2288
817.0      1764
822.0      1307
827.0      1013
832.0       645
837.0       374
842.0       234
847.5       173
632.0         1
627.0         1
Name: count, dtype: int64


delinq_2yrs:
delinq_2yrs
0.0     1064935
1.0      169160
2.0       49553
3.0       17993
4.0        7991
5.0        4112
6.0        2269
7.0        1270
8.0         748
9.0         469
10.0        323
11.0        199
12.0        149
13.0        104
14.0         78
15.0         46
16.0         31
18.0         21
17.0         17
19.0         12
20.0         10
21.0          5
26.0          3
22.0          3
25.0          2
29.0          2
30.0          1
28.0          1
39.0          1
27.0          1
24.0          1
Name: count, dtype: int64


revol_util:
revol_util
0.00      6642
57.00     2623
58.00     2602
54.00     2595
53.00     2595
          ...
145.00       1
154.90       1
137.20       1
162.00       1
17.71        1
Name: count, Length: 1371, dtype: int64


revol_bal:
revol_bal
0.0        6222
5235.0      107
6312.0      100
4777.0       99
6118.0       98
           ...
86089.0       1
58195.0       1
54970.0       1
74023.0       1
76509.0       1
Name: count, Length: 83375, dtype: int64


inq_last_6mths:
inq_last_6mths
0.0    753705
1.0    360217
2.0    134758
3.0     51150
4.0     13796
5.0      4872
6.0       941
7.0        48
8.0        22
Name: count, dtype: int64


pub_rec:
pub_rec
0.0     1096269
1.0      186614
2.0       24112
3.0        7307
4.0        2597
5.0        1256
6.0         630
7.0         280
8.0         158
9.0          83
10.0         57
11.0         40
12.0         27
13.0         18
15.0          9
18.0          6
21.0          6
19.0          5
16.0          5
14.0          5
17.0          3
28.0          3
20.0          3
49.0          2
22.0          2
24.0          2
23.0          1
86.0          1
47.0          1
46.0          1
37.0          1
63.0          1
40.0          1
34.0          1
54.0          1
25.0          1
61.0          1
Name: count, dtype: int64


mths_since_last_delinq:
mths_since_last_delinq
12.0     12523
13.0     12477
9.0      12434
6.0      12385
7.0      12205
         ...
139.0        1
156.0        1
143.0        1
126.0        1
202.0        1
Name: count, Length: 163, dtype: int64

In [ ]:
# Handle missing values FIRST (before one-hot encoding)
X = df[safe_features].copy()

# revol_util: impute median and flag missing
X['revol_util_missing'] = X['revol_util'].isna().astype(int)
X['revol_util'] = X['revol_util'].fillna(X['revol_util'].median())

# emp_length: impute "Unknown" before one-hot
X['emp_length'] = X['emp_length'].fillna('Unknown')

# mths_since_last_delinq: impute max+1 and flag missing
msld_missing = X['mths_since_last_delinq'].isna()
max_msld = X['mths_since_last_delinq'].max(skipna=True)
X['mths_since_last_delinq_missing'] = msld_missing.astype(int)
X.loc[msld_missing, 'mths_since_last_delinq'] = max_msld + 1

# Handle remaining missing values
X['inq_last_6mths'] = X['inq_last_6mths'].fillna(0)

print(f"Missing values after imputation: {X.isnull().sum().sum()}")

C:\Users\lucas\AppData\Local\Temp\ipykernel_66312\1500923988.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X['term'] = X['term'].map({'36 months': 0, '60 months': 1})
C:\Users\lucas\AppData\Local\Temp\ipykernel_66312\1500923988.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X['purpose'] = X['purpose'].map({'credit_card': 0, 'debt_consolidation': 1, 'home_improvement': 2, 'major_purchase': 3, 'small_business': 4, 'vacation': 5, 'wedding': 6})

In [ ]:
# One-hot encode categorical features (AFTER handling missing values)
cat_cols = ['term', 'purpose', 'disbursement_method', 'home_ownership', 'emp_length', 'addr_state']
X = pd.get_dummies(X, columns=cat_cols, drop_first=True)

print(f"X shape after one-hot: {X.shape}")

In [ ]:
# Simple Linear Regression (baseline)
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error, r2_score

# X is already cleaned and one-hot encoded, just split
X_train, X_test, y_train, y_test = train_test_split(
    X, y, test_size=0.2, random_state=42, stratify=y
)

lin_reg = LinearRegression()
lin_reg.fit(X_train, y_train)

y_pred = lin_reg.predict(X_test)

mse = mean_squared_error(y_test, y_pred)
r2 = r2_score(y_test, y_pred)

print(f"MSE: {mse:.4f}")
print(f"R^2: {r2:.4f}")
print(f"Predicted values range: min={y_pred.min():.4f}, max={y_pred.max():.4f}")