# Credit Risk

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

# Set pandas display options to show numbers in normal format

In [2]:
df = pd.read_csv('accepted.csv')
df.head()
df.info()
df.describe()

C:\Users\lucas\AppData\Local\Temp\ipykernel_66312\2049279652.py:1: DtypeWarning: Columns (0,19,49,59,118,129,130,131,134,135,136,139,145,146,147) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('accepted.csv')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2260701 entries, 0 to 2260700
Columns: 151 entries, id to settlement_term
dtypes: float64(113), object(38)
memory usage: 2.5+ GB

,member_id,loan_amnt,funded_amnt,funded_amnt_inv,int_rate,installment,annual_inc,dti,delinq_2yrs,fico_range_low,...,deferral_term,hardship_amount,hardship_length,hardship_dpd,orig_projected_additional_accrued_interest,hardship_payoff_balance_amount,hardship_last_payment_amount,settlement_amount,settlement_percentage,settlement_term
count,0.0,2.260668e+06,2.260668e+06,2.260668e+06,2.260668e+06,2.260668e+06,2.260664e+06,2.258957e+06,2.260639e+06,2.260668e+06,...,10917.0,10917.000000,10917.0,10917.000000,8651.000000,10917.000000,10917.000000,34246.000000,34246.000000,34246.000000
mean,NaN,1.504693e+04,1.504166e+04,1.502344e+04,1.309283e+01,4.458068e+02,7.799243e+04,1.882420e+01,3.068792e-01,6.985882e+02,...,3.0,155.045981,3.0,13.743886,454.798089,11636.883942,193.994321,5010.664267,47.780365,13.191322
std,NaN,9.190245e+03,9.188413e+03,9.192332e+03,4.832138e+00,2.671735e+02,1.126962e+05,1.418333e+01,8.672303e-01,3.301038e+01,...,0.0,129.040594,0.0,9.671178,375.385500,7625.988281,198.629496,3693.122590,7.311822,8.159980
min,NaN,5.000000e+02,5.000000e+02,0.000000e+00,5.310000e+00,4.930000e+00,0.000000e+00,-1.000000e+00,0.000000e+00,6.100000e+02,...,3.0,0.640000,3.0,0.000000,1.920000,55.730000,0.010000,44.210000,0.200000,0.000000
25%,NaN,8.000000e+03,8.000000e+03,8.000000e+03,9.490000e+00,2.516500e+02,4.600000e+04,1.189000e+01,0.000000e+00,6.750000e+02,...,3.0,59.440000,3.0,5.000000,175.230000,5627.000000,44.440000,2208.000000,45.000000,6.000000
50%,NaN,1.290000e+04,1.287500e+04,1.280000e+04,1.262000e+01,3.779900e+02,6.500000e+04,1.784000e+01,0.000000e+00,6.900000e+02,...,3.0,119.140000,3.0,15.000000,352.770000,10028.390000,133.160000,4146.110000,45.000000,14.000000
75%,NaN,2.000000e+04,2.000000e+04,2.000000e+04,1.599000e+01,5.933200e+02,9.300000e+04,2.449000e+01,0.000000e+00,7.150000e+02,...,3.0,213.260000,3.0,22.000000,620.175000,16151.890000,284.190000,6850.172500,50.000000,18.000000
max,NaN,4.000000e+04,4.000000e+04,4.000000e+04,3.099000e+01,1.719830e+03,1.100000e+08,9.990000e+02,5.800000e+01,8.450000e+02,...,3.0,943.940000,3.0,37.000000,2680.890000,40306.410000,1407.860000,33601.000000,521.350000,181.000000

In [3]:
#Filter out all loans that are not fully paid or charged off
df = df[df['loan_status'].isin(['Fully Paid', 'Charged Off'])]
#Changing the loan_status to binary_encoding
df['loan_status'] = df['loan_status'].map({'Fully Paid': 0, 'Charged Off': 1})

In [4]:
print("Application Type:")
print(df['application_type'].value_counts())
print("\nPurpose:")
print(df['purpose'].value_counts())
print("\nGrade:")
print(df['grade'].value_counts())
print("\nSub Grade:")
print(df['sub_grade'].value_counts())
print("\nFICO Range High:")
print(df['fico_range_high'].value_counts())
print("\nFICO Range Low:")
print(df['fico_range_low'].value_counts())

Application Type:
application_type
Individual    1319510
Joint App       25800
Name: count, dtype: int64

Purpose:
purpose
debt_consolidation    780321
credit_card           295279
home_improvement       87504
other                  77875
major_purchase         29425
medical                15554
small_business         15416
car                    14585
moving                  9480
vacation                9065
house                   7253
wedding                 2294
renewable_energy         933
educational              326
Name: count, dtype: int64

Grade:
grade
B    392741
C    381686
A    235090
D    200953
E     93650
F     32058
G      9132
Name: count, dtype: int64

Sub Grade:
sub_grade
C1    85494
B4    83199
B5    82538
B3    81827
C2    79213
C3    74998
C4    74421
B2    74024
B1    71153
C5    67560
A5    64003
A4    52235
D1    51321
D2    44848
A1    43678
D3    39317
A3    37996
A2    37178
D4    35566
D5    29901
E1    23749
E2    21377
E3    18387
E4    15720
E5    14417
F1     9970
F2     7198
F3     6088
F4     4859
F5     3943
G1     2997
G2     2131
G3     1614
G4     1280
G5     1110
Name: count, dtype: int64

FICO Range High:
fico_range_high
664.0    120862
674.0    117202
669.0    116821
679.0    104593
684.0    103340
689.0     90665
694.0     88221
699.0     79100
704.0     72760
709.0     65401
714.0     57361
719.0     50681
724.0     43606
729.0     35034
734.0     30304
739.0     24061
744.0     21415
749.0     17280
754.0     15916
759.0     13698
764.0     11257
769.0     10372
774.0      8861
779.0      8180
784.0      7307
789.0      5776
794.0      5430
799.0      4358
804.0      3865
809.0      3318
814.0      2378
819.0      1879
824.0      1394
829.0      1070
834.0       701
839.0       401
844.0       254
850.0       186
634.0         1
629.0         1
Name: count, dtype: int64

FICO Range Low:
fico_range_low
660.0    120862
670.0    117202
665.0    116821
675.0    104593
680.0    103340
685.0     90665
690.0     88221
695.0     79100
700.0     72760
705.0     65401
710.0     57361
715.0     50681
720.0     43606
725.0     35034
730.0     30304
735.0     24061
740.0     21415
745.0     17280
750.0     15916
755.0     13698
760.0     11257
765.0     10372
770.0      8861
775.0      8180
780.0      7307
785.0      5776
790.0      5430
795.0      4358
800.0      3865
805.0      3318
810.0      2378
815.0      1879
820.0      1394
825.0      1070
830.0       701
835.0       401
840.0       254
845.0       186
630.0         1
625.0         1
Name: count, dtype: int64

In [5]:
#Filter for only individual loans
df = df[df['application_type'] == 'Individual']
df['fico_score'] = (df['fico_range_low'] + df['fico_range_high']) / 2

# Verify the calculation worked
print(f"Rows after filter: {len(df):,}")
print(f"FICO score created. Sample:")
print(df[['fico_range_low', 'fico_range_high', 'fico_score']].head())

Rows after filter: 1,319,510
FICO score created. Sample:
   fico_range_low  fico_range_high  fico_score
0           675.0            679.0       677.0
1           715.0            719.0       717.0
4           695.0            699.0       697.0
5           690.0            694.0       692.0
6           680.0            684.0       682.0

In [6]:
df['fico_score'].describe()

count    1.319510e+06
mean     6.980267e+02
std      3.170712e+01
min      6.270000e+02
25%      6.720000e+02
50%      6.920000e+02
75%      7.120000e+02
max      8.475000e+02
Name: fico_score, dtype: float64

In [7]:
safe_features = [
    # Loan characteristics
    'loan_amnt',
    'term',  
    'purpose',
    'installment',
    'disbursement_method',
    
    # Borrower characteristics
    'annual_inc',
    'dti',
    'emp_length',
    'home_ownership',
    'addr_state',
    
    # Credit history
    'fico_score',
    'delinq_2yrs',
    'revol_util',
    'revol_bal',
    'inq_last_6mths',
    'pub_rec',
    'mths_since_last_delinq',
]

In [8]:
X = df[safe_features]
y = df['loan_status']
print(f"X shape: {X.shape}, y shape: {y.shape}")

X shape: (1319510, 17), y shape: (1319510,)